.Home {
  color: #ff6060;
  max-width: 1240px;
  margin: auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .Home {
    padding: 0 20px;

    .banner {
      height: 200px;
    }
  }
}
