.banner {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 225px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  justify-content: center;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: brightness(60%);
  }
  h1 {
    color: #fff;
    font-size: 48px;
    position: absolute;

    z-index: 10;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 20px 0px;
    justify-content: flex-start;
    height: 325px;

    h1 {
      margin-left: 20px;
      font-size: 24px;
      overflow-wrap: break-word;
      max-width: 225px;
    }
  }
}

@media screen and (max-width: 992px) {
  .bannerContainer {
    max-width: auto;
  }
}
